*{
    margin: 0px;
    padding: 0px;
}
.bg{
    width: 100%;
    height: 100vh;
    background-image: url(background-image);
    position: relative;
    overflow: hidden;
}
.road{
width: 100%;
height: 200px;
background-image: url(road.jpg);
position: absolute;
left: 0;
bottom: 0;
}
.plane{
    width: 500px;
    position: absolute;
    bottom: 100px;
    right: -150px;
    animation: plan 4s linear infinite;
}
@keyframes plan{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    30%{
        transform: translateX(-500px) translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateX(-1200px) translateY(-200px) rotate(15deg);
    }
}